@charset 'Utf-8';


/* common */
body, ul, h2, p {
    margin: 0; padding: 0; list-style: none;
}
a {text-decoration: none;color: inherit;}
img {width: 100%;height: 100%; object-fit: cover;}
#wrap {
    max-width: 1920px;
    color: #000;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Arita Dotum', 'Cera Pro', sans-serif;
}
.section-inner {
    position: relative;
}
.section-content .section-inner {
    padding: 0 12.6vw;

}
.section-title {
    font-family: 'Cera Pro', sans-serif;
    font-size: 2.08vw;
    color: #000;
    font-weight: bold;
    margin-bottom: 1.48978898629%;
}
.section-highlight {
    display: block;
}
.section-main-contents {
    margin-top: 1.04vw;
}
.btn-view-more::after {
    content: '';
    display: inline-block;
    width: 1.549vw;
    height: 0.361vw;
    margin-left: 0.62vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../../img/mamonde_main_btn_view_more.png);
}

/* layout-top */
.layout-top {
    .section-inner{
        width: 100%;
        height: 0;
        padding-bottom: calc(802 / 1920 * 100%);
        background-image: url(../../img/mamonde_main_layout_header_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0;
        .icon-arrow {
            &__left {
                position: absolute;
                top: 50%;
                left: 1.04166666667%;
                transform: translateY(-50%);
                img {
                    width: 1.3vw;
                }
            }
            &__right {
                position: absolute;
                top: 50%;
                right: 1.04166666667%;
                transform: translateY(-50%);
                img {
                    width: 1.3vw;
                }
            }
        }
        .section-header {
            height: 8.47880299252%;
            line-height: 3.54vw;
            color: #fff;
            padding: 0 16.82vw 0 17.45vw;
            .section-header__menu {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-weight: 600;
            .section-logo {
                a {
                    vertical-align: sub;
                    img {
                        width: 6.88vw;
                        height: auto;
                    }
                } 
            }
            .section-gnb {
                display: inline-block;

                &__menu {
                    font-size: 0.94vw;
                    display: inline-block;
                    &:nth-child(1) {
                        margin-right:7.03vw;
                    }
                    &:nth-child(2) {
                        margin-right:7.24vw;
                    }
                }
                
            }
            .section-util-wrap {
                display: flex;
                justify-content: space-between;
                .section-util {
                    display: inline-block;
                    &__item {
                        font-size: 0.94vw;
                        display: inline-block;
                        &:nth-child(1) {
                            margin-right: 1.98vw;
                        }
                        &:nth-child(2) {
                            margin-right: 1.56vw;
                        }
                    }
                }   
                .icon-tooltip__search {
                    margin-top: 0.26vw;
                    img {
                        width: 1.09vw;
                        height: 1.09vw;
                    }
                }
            }

            }
        }
        .section-main-visual{
            .main-title-wrap {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 13.75%;
                margin-left: 17.39583333333%;
                color: #fff;
                .main-title {
                    &--b-text {
                        display: block;
                        font-style: normal;
                        font-size: 2.34vw;
                        line-height: 1.2;
                        font-weight: bold;
                        margin-bottom: 6.69236534961%;
                    }
                    &--text {
                        display: block;
                        font-size: 1.25vw;
                        margin-bottom: 16.86476068102%;
                        font-weight: 600;
                    }
                }
        
            }
            .btn-more {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 25.3125%;
                margin-left: 17.44791666667%;
                border: 1px solid #fff;
                padding: 0.52083333333% 1.35416666667%;
                &__txt {
                font-size: 0.94vw;
                font-weight: 400;
                color: #fff;
                }
            }
            .section-rolling-navi {
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 31.04166666667%;
                margin-left: 17.39583333333%;
                img {
                    width: 24.48vw;
                }
            }
        }
    }
    
}


    /* layout__body */
    .layout-body {
        margin-top:4.95vw;
        /* Skincare Solution */ 
        .section-content.skincare-solution {

            .section-inner{
             padding-right: 0;
                .section-title-wrap {
                    .section-highlight {
                        width: 11.67vw;
                        height: auto;
                    }
                }  
                .section-main-contents{
                    .tag-wrap {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-top:13.69791666667%;
                        margin-left: 14.73958333333%;
                        &__tag {
                            font-size: 1.033vw;
                            color: #bcbcbc;
                            margin-bottom: 29.66101694915%;
                            &--bg-yellow {
                                font-size: 1.446vw; 
                                font-weight: 600;
                                color: #000;
                                background-color: #f7ff6e;
                                padding: 0.42vw 0.31vw 0.37vw;
                            }
                        }
                    }
                    .navi-bar {
                        width: 4.95vw;
                        height: auto;
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-top: 36.45833333333%;
                        margin-left: 14.53125%;
                    
                    }

                    .prd-list-box {
                        margin-left: 18.3%;
                        .prd-list-wrap {
                            display: flex;
                            height: 30.26vw;
                            .list {
                                width: 17.14vw;
                                margin-right: 1.48619957537%;
                                .list-detail {
                                        &__list-img {
                                            display: block;
                                            position: relative;
                                            padding-bottom: 141.88679245283%;
                                            img {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                width: 100%;
                                                height: 100%;
                                            }
                                        }
                                        &__list-text{
                                            margin-top: 4.05660377358%;
                                            color: #31261d;
                                            &--title {
                                                display: inline-block;
                                                font-size: 1.136vw;
                                                font-weight: 600;
                                            }
                                            &--desc {
                                                margin-top: 4.05660377358%;
                                                line-height: 1.3;
                                                font-size: 1.033vw;
                                            }
                                        }
                                }

                                &:nth-child(1) {
                                    .list-detail {
                                        &__list-text {
                                            &--title {
                                            background-color: #fcffb2;
                                            padding: 0.3vw 0.31vw 0.26vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        /* Mamonde Exclusive */ 
        .section-content.mamonde-exclusive{
            margin-top: 7.81vw;
            .section-inner {
                padding-right: 0;
                .section-title-wrap {
                    .section-highlight {
                        width: 9.32vw;
                        height: auto;
                    }
                }  
                .section-main-contents {
                    .text-wrap {
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-top: 14.375%;
                        margin-left: 14.53125%;
                        width: 25.555vw;
                        &__num {
                            font-size: 3.356vw;
                            font-weight: bold;
                            color: #e9e0da;
                        }
                        &__title {
                            font-size: 1.549vw;
                            font-weight: 600;
                            padding-bottom: 1.033vw;
                            border-bottom: 1px solid #2c221c;
                            max-width: 15.99vw;
                        }
                        .tag-wrap {
                            margin-top: 1.033vw;
                            &__tag {
                                font-size: 1.033vw;
                                line-height: 1.549vw;
                            }
                        }
                        .btn-view-more {
                            margin-top: 2.323vw;
                            display: inline-block;
                            font-size: 0.929vw;
                            font-weight: 600;
                        }
                    }
                    .navi-bar {
                        width: 4.95vw;
                        height: auto;
                        position: absolute;
                        top: 0;
                        left: 0;
                        margin-top: 36.875%;
                        margin-left: 14.53125%;
                    
                    }
                    .prd-list-box{
                        margin-left: 29.52380952381%;
                        .prd-list-wrap {
                            display: flex;
                            height: 30.52vw;
                            .list-detail {
                                margin-right: 1.84956843403%;
                                width: 30.52vw;
                                &__list-img {
                                    position: relative;
                                    display: block;
                                    padding-bottom: 100%;
                                    img {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
             }
        }
        /* Brand Story */ 
        .section-content.brand-story{
            margin-top: 6.77vw;
            .section-brand-story-contents {
                .contents-wrap {
                    display: flex;
                    .img-wrap{
                        width: 48.33vw;
                    }
                    .text-box{
                        background-color: #e1dee3;
                        width: 31.67vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                            .text-wrap{
                                margin-left: 15.50561797753%;
                            &__desc {
                                font-size: 1.033vw;
                                color: #31261d;
                                line-height: 1.7;
                                &:nth-child(2) {
                                    margin-top: 9.3085106383%;
                                    margin-bottom: 11.96808510638%;
                                }
                            }
                            .btn-view-more {
                                font-size: 0.929vw;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        /* with Mamonde */ 
        .section-content.with-mamonde{
            margin-top: 6.77vw;
            .section-with-contents{
                .btn-wrap {
                    padding: 2.22vw 0 3.614vw;
                    display: flex;
                    justify-content: center;
                    .btn-more {
                        font-size: 0.929vw;
                        border: 1px solid #2c221c;
                        color: #2c221c;
                        padding: 0.63vw 2.5vw;
                    }
                }
            }
        }
}

/* layout__footer */
.layout-footer{
    margin-top: 3.65vw;
    padding: 1.82291666667% 2.60416666667%;
    border-top: 1px solid #e7e6e6;
    .footer-inner {
        position: relative;
        .sns-wrap{
            display: flex;
            &__list {
                margin: 0 0.625%;
                height: 1.81%;
                width: 2.4%;
                a {
                    display: block;
                }
                &--facebook {
                    margin-left: 0;
                }
            }
        }
        .f-gnb-wrap {
            .f-gnb {
                margin-top: 1.92307692308%;
                display: flex;
                &__gnb-list {
                    padding: 0 0.71428571429%;
                    border-right: 1px solid #727272;
                    &--bold{
                        font-weight: 600;
                    }
                    &:nth-child(1) {
                        padding-left: 0;
                    }
                    a {
                        font-size: 0.78vw;
                    }
                }
            }
            .center-info {
                margin-top: 0.54945054945%;
                font-size: 0.68vw;
            }
            .copy-right {
                margin-top: 1.20879120879%;
                font-size: 0.68vw;
            }
        }
        .img-wrap {
            position: absolute;
            width: 10.94vw;
            top: 0;
            left: 0;
            margin-top: 4.01098901099%;
            margin-left: 76.31868131868%;
        }
        .wa-mark {
            position: absolute;
            width: 3.13vw;
            top: 0;
            left: 0;
            margin-top: 6.5%;
            margin-left: 33.24175824176%;

            
        }
    }
}




