@charset 'Utf-8';


/* common */
body {
    width: 100%;
}
body, ul {
    margin: 0; padding: 0;
}

#wrap {
    max-width: 1920px;
    overflow-y: scroll;
    color: #000;
    margin: 0 auto;
    box-sizing: border-box;
    ul {
    list-style: none;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .layout__head {
        .section__inner{
            width: 100%;
            height: 0;
            padding-bottom: calc(802 / 1920 * 100%);
            background-image: url(../../img/mamonde_main_layout_header_bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 0;
            .layout__header {
                height: 68px;
                line-height: 68px;
                color: #fff;
                padding: 0 323px 0 335px;
              .section__header-menu {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .section__logo {
                    img {
                        width: 132px;
                        height: auto;
                    }
                }
                .section__gnb {
                    display: inline-block;
                    &--menu {
                        display: inline-block;
                        &:nth-child(1) {
                            margin-right:135px;
                        }
                        &:nth-child(2) {
                            margin-right:139px;
                        }
                    }
                    
                }
                .section__util-wrap {
                    display: flex;
                    justify-content: space-between;
                    .section__util {
                        display: inline-block;
                        &--item {
                            display: inline-block;
                        }
                    }    
                }
              }
            }
        }
    }

}


